<div class="col-md-4 mx-auto">

    <div class="card">
        <div class="card-body">
            <form action="/links/edit_egreso/{{link.id}}" method="POST">
                <div class="form-group">
                    <input type="text" name="title" class="form-control" placeholder="Nombre Cama" value="{{link.title}}" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="url" class="form-control" placeholder="Tipo cama" value="{{link.url}}" >
                </div>
                <div class="form-group">
                    <textarea name="description" rows="2" class="form-control" placeholder="Description">{{link.description}}</textarea>
                </div>
                 <div class="form-group">
                    <textarea name="cum" rows="2" class="form-control" placeholder="cum">{{link.cum}}</textarea>
                </div>
                 <div class="form-group">
                    <textarea name="laboratorio" rows="2" class="form-control" placeholder="laboratorio">{{link.laboratorio}}</textarea>
                </div>
                 <div class="form-group">
                    <textarea name="estado" rows="2" class="form-control" placeholder="estado" >{{link.estado}}+1</textarea>
                </div>
                  
               
               <div class="form-group">
                     <span class="input-group-text">Medicamento Alternativo 1</span>
                    <input type="text" name="medicamentoalternativo1" class="form-control" placeholder="Medicamento Alternativo 1"  value="{{link.medicamentoalternativo1}}">
                </div>
                 <div class="form-group">
                       <span class="input-group-text">Medicamento Alternativo 2</span>
                     <input type="text" name="medicamentoalternativo2" class="form-control" placeholder="Medicamento Alternativo 2" value="{{link.medicamentoalternativo2}}" >
                </div>
                 <div class="form-group">
                       <span class="input-group-text">Medicamento Alternativo 3</span>
                    <input type="text" name="medicamentoalternativo3" class="form-control" placeholder="Medicamento Alternativo 3" value="{{link.medicamentoalternativo3}}">
                </div>
                  



                <div class="form-group">
                    <button class="btn btn-success btn">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>