<!DOCTYPE html>
<html lang="es">  
  <head>    
       
    <meta charset="UTF-8">
    <meta name="title" content="Título de la WEB">
    <meta name="description" content="Descripción de la WEB">    
    <link href="http://dominio.com/hoja-de-estilos.css" rel="stylesheet" type="text/css"/>    
  </head>  

<body>    
<div class="jumbotron text-center">
  <h4>Bienvenido a tu Censo Observacion {{user.fullname}}</h4>

</div>





<table id="list_observacion" class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Ingreso</th>
      <th scope="col">Tiempo de Estancia</th>
      <th scope="col">Nombre Cama</th>
      <th scope="col">Tipo cama</th>
      <th scope="col">Ubicación</th>
      <th scope="col">Habitación</th>
      <th scope="col">procedencia</th>
      <th scope="col">Fecha Censo</th>
      <th scope="col">Fecha Ingreso</th>
      <th scope="col">Cie 10 Ingreso</th>
      <th scope="col">Fecha Egreso</th>
      <th scope="col">Cie 10 Egreso</th>
      <th scope="col">Remision</th>
      <th scope="col">cedula</th>
      <th scope="col">nombres</th>
      <th scope="col">sexo</th>
      <th scope="col">Genero de Cama</th>
      <th scope="col">Observación</th>
      <th scope="col">Egreso</th>
    </tr>
  </thead>
  <tbody>

    {{#each links_observacion}}

    <thead>

      <td><a class="btn btn-secondary" href="/links/edit/{{id}}"><i class="fab fa-apple"></i></a></td>
      <td>{{timeago created_at}}</td>
      <td> {{ title }}</td>
      <td>{{ url}}</td>
      <td>{{ ubicacion}}</td>
      <td>{{ habitacion}}</td>
      <td> {{procedencia}} </td>
      <td> {{fecha_censo}} </td>
      <td> {{fecha_ingreso}} </td>
      <td> {{cie_10_ingreso}} </td>
      <td> {{fecha_egreso}} </td>
      <td> {{cie_10_egreso}} </td>
      <td> {{remision}} </td>
      <td> {{cedula}} </td>
      <td> {{nombres}} </td>
      <td> {{sexo}} </td>
      <td> {{cama_sexo}} </td>
      <td> {{description}} </td>
      <td><a class="btn btn-secondary" href="/links/edit_egreso/{{id}}"><i class="fas fa-apple-alt"></i></a></td>
      <td> <a class="btn btn-danger" href="/links/delete/{{id}}">Anular Regitro</a></td>
    </thead>
    {{else}}

    <div class="col-md-6 mx-auto">
      <div class="card card-body text-center">
        <p>Aún no hay censos guardados.</p>
        <a href="/links/add">Cree un Nuevo Resgistro de Censo!</a>
      </div>
    </div>
    {{/each}}
    
  </tbody>
</table>

<!--

<div class="container p-4">
  <div class="row">
    {{#each links}}
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-body">
          <a href="{{url}}" target="_blank">
            <h3 class="card-title text-uppercase">
              {{title}}
            </h3>
          </a>
          <p class="m-2">{{description}}</p>
          <p class="text-muted">
            {{timeago created_at}}
          </p>
          <!--<a class="btn btn-danger" href="/links/delete/{{id}}">
                        Delete Link
                    </a>
          <a class="btn btn-secondary" href="/links/edit/{{id}}">
            Ingreso
          </a>
        </div>
      </div>
    </div>
    {{else}}
    <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>There are not Links saved yet.</p>
                <a href="/links/add">Create One!</a>
            </div>
  </div>
  {{/each}}
</div>
</div>-->
 </body>
 </html>