<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
 

</head>


<div class="jumbotron text-center">
    <h3>Bienvenido al  listado de Medicamento Desabastecidos, usuario : {{user.fullname}}</h3>
  </div>

  <div id="table2" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%"></div>


<table
   id="table_id"
  data-toggle="table"
  data-search="true"
  data-pagination="true"
 
 
  class="table table-bordered table-striped mb-0 table-responsive">
  <thead class="thead-light">
    <tr>
                
                <th data-field="col2">Tiempo en desabastecimiento Guajira </th>
                <th data-field="col3" data-sortable="true">MD</th>
                <th data-field="col4" data-sortable="true">Descripcion</th>
                <th data-field="col5" data-sortable="true">Descripcion Generico</th>
                <th data-field="col6" data-sortable="true" >Cum</th>
                <th data-field="col7" data-sortable="true" >Laboratorio</th>
                <th data-field="col8" data-sortable="true">Estado</th>
                <th data-field="col9" data-sortable="true">Alternativos</th>
                
              </tr>
 
   </thead>
  
  <div class="container">
   {{#each links_ocupadas}}
                <tr>
              
                <td>{{timeago created_at}}</td>
                <td>{{title}}</td>
                <td>{{url}}</td>
                <td>{{description}}</td>
                <td>{{cum}}</td>
                <td>{{laboratorio}}</td>
                <td>{{estado}}</td>
                <td><a class="btn btn-secondary" href="/links/edit_egreso/{{id}}"><i class="fas fa-prescription-bottle"></i></a>
                </td>
                
                
                
               
                </tr>
              {{else}}
              <div class="col-md-6 mx-auto">
                <div class="card card-body text-center">
                  <p>Aún no hay Medicamentos Desasbecidos</p>
                  <a href="/links/add">Cree un  Medicamento Desabastecidos!</a>
                </div>
              </div>
              {{/each}}
    </div>

    
</table>

</html>
